version: '3.8'

services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack-s3
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3
      - DEBUG=1
    volumes:
      - "./init-localstack.sh:/etc/localstack/init/ready.d/init-aws.sh"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
